* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;

    /*Color Styles*/
    --color-blue: #072AC8;
    --color-cyan: #43D2FF;
    --color-skyblue: #A2D6F9;
    --color-ligthsky: #D1EDFF;
    --color-darkblue: #292E47;
    --color-ligthdarkblue: #6B708D;
    --color-white: #F2F4FC;
    --color-whitesky: #ECF7FF;
}
    /*Text Styles*/

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 30px;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
}
h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
h4 {
    font-size: 34px;
    font-weight: bold;
}

p {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: inherit
}




body {
    width: 100%;
    max-width: 1000px;
    background-color: var(--color-whitesky);
    margin: 0 auto;
}

.header-nav {
    height: 50px;
    display: flex;
    background-color: var(--color-whitesky);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logoArea img {
    height: 30px;
    width: auto;

}

.centralNav ul{
    display: flex;
    gap: 40px;   
}

.linkPage {
    list-style: none;
    padding: 0;
    font-weight: bold;
    color: var(--color-blue);
    text-align: center;
    
}

.sandwichMenu {
    display: none;
}

.menuButton {
    background: none;
    border: none;
}

.menuButton img {
    height: 50px;
    width: auto;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}


main {

    padding-left: 5%;
    padding-right: 5%;
}

.hero-section{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 30px;
    padding-bottom: 30px;

} 

.heroText{
    display: flex;
    align-items: center;
    color: var(--color-darkblue);
} 

.heroText p {
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.heroText a {
    margin-left: 10px;
} 

.composedImage {
    position: relative;
}

.floatDiv {
    position: absolute;
    width: 65%;
    height: 65%;
} 

.creditCard {
    top: -5%;
    left: -18%;
} 

.aceptedPay {
    bottom: -20%;
    right: -15%;
} 

.heroImagen {
    width: 100%;
    height: auto;
} 
.blueButton { 
    border: none;
    color: var(--color-white);
    background-color: #072AC8;
    padding: 10px 10px;
    cursor: pointer;
} 

.blueButton:hover {
    color: goldenrod;
} 

.linkHero:hover{
    color: var(--color-blue);
    text-decoration: underline;
}

.logotipos{
    filter: grayscale(100%);
    transition-duration: 900ms;

} 

.logotipos:hover {
    filter: none;
    transition-duration: 200ms;
} 

#projects {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 210px 210px 210px;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

#services {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 210px 210px 210px;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
} 

.sectionTitle {
    grid-column: span 3;
    color: #292E47;
}




.iconService {
    width: 25% !important ;
    height: auto;
    padding: 15px;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 45%;
    background-color: var(--color-whitesky);

} 


.partnerLogos {
    margin-top: 50px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}

.partnerLogos img {
    width: 100%;
}

.client-testimony {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #292E47;
    padding-top: 20px;
} 

.memoji{
    width: 50%;
    height: 58%;

} 

div:has(.memojiLeft){
    display: flex;
    justify-content: right;
} 

.testimonialDiv{
    text-align: center;
    margin-top: -40px;
    margin-bottom: -40px;
} 

.testimonialDiv h3{
    color: var(--color-white);
    font-size: 200%;
}

.testimonialDiv>p{
    font-size: 100%;
    color: gold;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.testimonialDiv>div {
    width: 35%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.testimonialDiv>div div{
    color: var(--color-white);
} 

.webLink{
    color: var(--color-skyblue);
} 

.profilePhoto{
    width: 70px;
    height: 65px;
    border-radius: 50%;
} 

.projectDivLink {
    background-color: white;
    height: 310px;
    width:100%;
    transition-duration: 300ms;
}

.projectDivLink:hover {
    box-shadow: 5px 8px 5px 0 var(--color-darkblue);
    transition-duration: 300ms;

}

.projectDivLink img {
    width: 100%;
    height: auto;
    max-height: 140px;
    
}

.projectDivLink h3 {
    margin: 15px 15px;
    
}

.projectDivLink p {
    margin: 5px 15px;

}

.projectDivLink a {
    margin: 5px 15px;
}

.contentLink {
    height: 87%;
}

#articlePage {
    padding-left: 5%;
    padding-right: 5%

}

.articleImage {
    max-width: 1280px;
}

.articleImage img {
    max-width: 100%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    align-items: center;
}

footer address {
    padding-top: 20px;
    font-style: normal;
}

.footerLinks ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
}

.client-information {
    width: 100%;
    height: 270px;
    background-color: gold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.client-information h3{
    padding-top: 70px;
    co
} 

.client-information form{
    height: 50px;
} 
.client-information p {
    margin-bottom: 30px;
}  


#emailInput {
    height: 35px;
    width: 30%;
    font-size: 0.6rem;
    border: none;
    padding: 10px 15px;
    padding-left: 35px;
    color: var(--color-darkblue);
}

.emailInputDiv{
    position: relative;
} 

.emailIcon{
    position:absolute;
    margin-top: 8px;
    margin-left: 6px;
    width: 20px;
    height: auto;
} 

.submitButton {
    height: 35px;
    padding: 10px 15px;
    font-size: 0.6rem;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;

} 

.contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    row-gap: 30px;
    background-color: white;
    padding: 30px;
    margin: 10px 30px;
}

.contact-form input {
    margin-top: 5px;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
}

.inputFull{
    grid-column: span 2;
}

.formButton {
    height: 40px;
    margin-top: 15px;
    background-color: #072AC8;
    border: none;
    color: var(--color-white);
}

#message{
    height: 150px;
}

/*Responsive sizes*/
@media screen and (min-width:770px) {

}


@media screen and (max-width:770px) {


    .sandwichMenu {
        display: block;
}

    .centralNav {
        display: none;
}

    .contactButton {
        display: none;
    }

    footer {
    display: block;
}

.address {
    text-align: center;
}

.footerLinks ul {
    padding-top: 20px;
}

#projects {
    max-width: 770px;
    grid-template-columns: 130px 130px 130px;
}

.projectDivLink {
    background-color: white;
    height: 250px;
    font-size: 0.8em;
}

.projectDivLink h3{
    font-size: 1em;
}

.projectDivLink p{
    font-size: 0.8em;
}

.projectDivLink img {
    height: 45%;
}

.hero-section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 100px;

} 

.partnerLogos {
    display: block;
    align-items: center;
}

.partnerLogos img {
    width: 25%;
    margin-left: 11%;
    margin-bottom: 30px;
} 

.partnerLogos img:first-child{
    margin-left: 0;
} 

.partnerLogos img:nth-child(1){
    margin-bottom: 35px;
} 

.partnerLogos img:nth-child(4){
    margin-left: 20%;
    margin-bottom: 35px;
} 

.partnerLogos img:nth-child(3){
    margin-bottom: 41px;
} 

.contact-form{
    display: block;
}

.contact-form input{
    margin-bottom: 20px;
}

.contact-form button{
    width: 100%;
}


}

@media screen and (max-width:480px) {

#articleLink {
    display: block;
}


.projectDivLink {
    background-color: white;
    height: 400px;
    width: 100%;
    margin-top: 40px;
    font-size: 1.2em;
}

.projectDivLink img {
    height: 60%;
}


}